GENERATED DL_POLY CONTROL
ENSEMBLE NVE
TIMESTEP 1.0000E-03
TEMPERATURE 75.0
STEPS 20
EQUILIBRATION 0
PRINT 10
STATS 10
RVDW 2.5
VDW SHIFT
CUTOFF 2.5
RESTART NOSCALE
NO VOM
MXQUAT 0
MXSHAK 0
JOB TIME 4.0000E+04
CLOSE TIME 1.0000E+02
EWALD PRECISION 1.0000E-06
FINISH