Argon System
temperature        85.0
pressure	       0.0
steps		       2000
equilibration	   0
multiple           2000
scale		       2001
print		       2000
stack		       0
stats		       2000
trajectory	       2000         5         0
rdf		           2000
timestep	       1.0000E-03
cutoff		       7.5
delr               1.0000E+00
rvdw               7.5
mxquat 0
mxshak 0
vdw shift
no electrostatics
no vafaveraging
restart noscale
mxquat 0
mxshak 0
shake tolerance	       1.0000E-04
quaternion tolerance   1.0000E-04
job time	       3.6000E+03
close time	       1.0000E+02
finish
