Argon System
temperature        85.0
pressure	       0.0
steps		       15000
equilibration	   1000
multiple           1
scale		       5
print		       100
stack		       100
stats		       10
trajectory	       1000         5         0
rdf		           10
timestep	       1.0000E-03
cutoff		       7.5
delr               1.0000E+00
rvdw               7.5
no electrostatics
shake tolerance	       1.0000E-04
quaternion tolerance   1.0000E-04
print rdf
job time	       3.6000E+03
close time	       1.0000E+02
finish
